<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CLIENT_ID</key>
      <string>512973424761-ujm5npcjd7d40f4bnrq483d6v1022t3p.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.512973424761-ujm5npcjd7d40f4bnrq483d6v1022t3p</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>InTheirShoes</string>
    </dict>
    </plist>